body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/* background-position: center; */
	background-image: url("images/2.jpg");
}

.box {
	width: 285px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: linear-gradient(45deg, #B8B9C2 0, #236899 65%);
	border-radius: 15px;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
}

.offset {
	background: rgba(300, 300, 300, 0.6);
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	min-width: 200px;
	padding: 5px;
}

.insert {
	background: rgba(350, 350, 350, 0.7);
	border: 2px solid #aaa;
	border-radius: 4px;
	min-width: 200px;
	max-width: 100%;
	padding: 5px;
}

img {
	width: 40%;
	max-width: 180px;
	margin-left: 0%;
	margin-right: 5%;
}

.box input[type=text],
.box input[type=password] {
	border: 0;
	background: #ffffff;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #042956;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: rgb(206, 39, 39);
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type=text]:focus,
.box input[type=password]:focus {
	width: 280px;
	border-color: #2ecc71;
}

.box input[type=submit],
.box input[type=button] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #042956;
	padding: 14px 40px;
	outline: none;
	color: rgb(77, 16, 16);
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type=submit]:hover,
.box input[type=button]:hover {
	background: #236899;
	color: black;
}

med-blue {
	font-size: 1.2em;
	color: rgb(4, 245, 253);
	font-weight: bold;
	font-style: normal;
}

big-red {
	font-size: 1.6em;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

italic-black {
	font-size: 1.0em;
	color: black;
	font-weight: bold;
	font-style: italic;
}

copy-right {
	font-size: 0.7em;
	color: darkgrey;
	font-weight: bold;
	font-style: italic;
}

p {
	color: navy;
	text-indent: 10px;
	text-transform: uppercase;
	padding-bottom: 1%;
	font-size: 10px;
}

.box-error {
	width: 310px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: linear-gradient(45deg, #B8B9C2 0, #a51313 40%);
	border-radius: 15px;
}

.box-error input[type='button'] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 40px;
	outline: none;
	color: rgb(255, 255, 255);
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 14;
}

.box-error input[type='button']:hover {
	background: #042956;
	color: #fdfdfd;
	font-size: 19px;
}

.box-error p {
	color: #ffffff;
	font-size: 14px;
}

.box-error b {
	font-weight: bold;
	color: #ffffff;
}

.box-error h1 {
	color: #ffffff;
	font-size: 2em;
}

#upper-side {
	padding: 2em;
	background: linear-gradient(45deg, #B8B9C2 0, #236899 40%);
	display: block;
	color: rgb(255, 255, 255);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#card {
	padding-top: 10%;
	position: relative;
	width: 320px;
	display: block;
	margin: 40px auto;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

#checkmark {
	font-weight: lighter;
	fill: rgb(82, 238, 5);
	margin: -3.5em auto auto 20px;
}

#status {
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	margin-top: -.2em;
	margin-bottom: 0;
}

.lower-side {
	padding: 2em 2em 5em 2em;
	/* background: linear-gradient(45deg, #B8B9C2 0, #0F4c81 40%); */
	background: #ffffff;
	display: block;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#message {
	margin-top: -.5em;
	color: #6b6a6a;
	letter-spacing: 1px;
}

.lower-side input[type=\"button\"] {
	position: relative;
	top: 1.5em;
	text-decoration: none;
	background: #3c93b3;
	color: rgb(10, 10, 10);
	margin: auto;
	padding: .8em 3em;
	-webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	-moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	border-radius: 25px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.lower-side input[type=\"button\"]:hover {
	-webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	-moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	color: #f8faf8;
	background: #19cc12;
	cursor: pointer;
}

.box-success {
	width: 300px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: linear-gradient(45deg, #B8B9C2 0, #236899 65%);
	border-radius: 15px;
}

.box-success input[type=submit],
.box input[type=button] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #042956;
	padding: 14px 40px;
	outline: none;
	color: rgb(77, 16, 16);
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box-success input[type=submit]:hover,
.box input[type=button]:hover {
	background: #19cc12;
	color: rgb(255, 255, 255);
	font-size: large;
	border: 2px solid #096a11;
}

.box-success big-red {
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #dae7f8c6;
}

.box-success b {
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #030303;
}

.box-success p {
	font-size: 18px;
	margin-top: 2em;
	color: #f7f4f1;
	font-family: 'Courier New', sans-serif;
}

.guest:hover {
	background-color: #1561dc;
	cursor: pointer;
	color: #beb9b9;
}

.user:hover {
	background-color: #2d34b5;
	cursor: pointer;
	color: #6d6d6d;
}

.return:hover {
	background-color: #b4e43c;
	cursor: pointer;
	color: #444444;
}

a {
	text-decoration: none;
	border: 0;
	background: #0a3369;
	display: block;
	margin: 20px 47px;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 40px;
	outline: none;
	color: rgb(255, 255, 255);
	border-radius: 14px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 12;
	font-weight: 600;
}

button {
	text-decoration: none;
	border: 0;
	background: #0a3369;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 40px;
	outline: none;
	color: rgb(255, 255, 255);
	border-radius: 14px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: 600;
}

a:hover {
	background-color: #a51313;
	cursor: pointer;
}

span {
	color: #ffffff;
}

error {
	/* font-size: 1.6em; */
	color: rgb(124, 10, 10);
	/* font-weight: bold; */
}
